<html>
  <head>
    <title>The Bheap Ltd example site</title>
    <link href="../resources/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>This is the Bheap Ltd example Synapse Site</h1>
    <h2>This is the template, below you will see the view</h2>
    <hr />

    <!-- Beginning of view -->
    <div id="synapse:template">
      Page content goes here
    </div>
    <!-- End of view -->

    <hr />
    <h2>This is the template, above you will see the view</h2>
  </body>
</html>
