<html>
  <body>
    <div id="synapse-content">
      <h2>This is the Home page</h2>
      <p>This content is a simple combination of header, paragraph and sample code.</p>
      <div class="muppet">
        <p>Blurb</p>
      </div>
      <div>A nested div with no class or id</div>
      <h3>Wrapping template code</h3>
      <pre class="prettyprint">
...
&lt;div class=&quot;synapse-template&quot;&gt;
  Some content will be inserted here
&lt;/div&gt;
...
      </pre>
      <h3>Content code</h3>
      <pre class="prettyprint">
&lt;div class=&quot;synapse-content&quot;&gt;
  &lt;h2&gt;This is the content&lt;/h2&gt;
  &lt;p&gt;This content is a simple combination of header, paragraph and sample code.&lt;/p&gt;
&lt;/div&gt;
      </pre>
    </div>
  </body>
</html>
